<h2 style="text-align: left">SpaceX Launch Program</h2>

<div class="columns">
  <h3 class="header">Filters</h3>
  <h4 class="header">Launch Year</h4>
  <span *ngFor="let lyear of launchYear"
    ><button type="button" class="button" (click) = "searchByLaunchYr(lyear)">{{ lyear }}</button>&nbsp;</span
  >

  <h4 class="header">Successful Launch</h4>
  <span *ngFor="let lsuccess of launchSuccess"
    >
    <button type="button" class="button" (click) = "searchByLaunchSuccess(lsuccess)">{{lsuccess}}</button>&nbsp;
    </span>

  <h4 class="header">Successful Landing</h4>
  <span *ngFor="let landSuccess of landSuccess"
  >
  <button type="button" class="button">{{landSuccess}}</button>&nbsp;
</span>
</div>

<div class="columns" *ngFor="let sdata of spacexData">
  <ul class="spacex-style">
    <li><img [src]="sdata.links.mission_patch" width="100px" /></li>
    <li class="spacex-li">
      {{ sdata.mission_name }} #{{ sdata.flight_number }}
    </li>
    <li class="spacex-li">Mission Ids:{{ sdata.mission_id[0] }}</li>
    <li class="spacex-li">Launch Year:{{ sdata.launch_year }}</li>
    <li class="spacex-li">Successful Launch:{{ sdata.launch_success }}</li>
    <li class="spacex-li">Successful Landing:'launch_landing'</li>
  </ul>
</div>
