/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

.columns {
  float: left;
  width: 19.3%;
  padding: 8px;
}

.spacex-style {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.spacex-style:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.spacex-style .header {
  background-color: #111;
  color: white;
  font-size: 25px;
}

.spacex-style li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

.spacex-style .grey {
  background-color: #eee;
  font-size: 20px;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  .columns {
    width: 100%;
  }
}

.button {
background-color: #4CAF50; /* Green */
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
}
.spacex-li{
  border-bottom: 0px !important;
  padding: 4px !important;
  text-align: left !important;
}
